body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: #eee;
}
#ui {
    position: absolute;
    z-index: 10;
    padding: 8px;
}
canvas {
    display: block;
    margin: 0 auto;
    background: #222;
    border: 1px solid #333;
}
