name: Build and Push to GHCR

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push server
        run: |
          docker build -t ghcr.io/marimo213/mp-server:latest ./server
          docker push ghcr.io/marimo213/mp-server:latest

      - name: Build and push client
        run: |
          docker build -t ghcr.io/marimo213/mp-client:latest ./client
          docker push ghcr.io/marimo213/mp-client:latest
